
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("form.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .FORM {
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  .FORM h2 {
    margin-bottom: 20px;
    color: #003366;
    font-size: 24px;
    font-weight: bold;
  }
  
  .FORM input[type="email"],
  .FORM input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .FORM input[type="email"]:focus,
  .FORM input[type="password"]:focus {
    border: 1px solid #003366;
    outline: none;
  }
  
  .FORM .btnn {
    margin-top: 20px;
  }
  
  .FORM .btnn a {
    display: inline-block;
    text-decoration: none;
    color: #003366;
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .FORM .link {
    margin-top: 15px;
    font-size: 14px;
    color: white;
  }
  
  .FORM .link a {
    color: #003366;
    text-decoration: none;
  }
  
  .FORM .link a:hover {
    text-decoration: underline;
  }
  

  .FORM .liw {
    margin-top: 20px;
    font-size: 14px;
    color: white;
  }
  
  .FORM .icons {
    margin-top: 10px;
  }
  
  .FORM .icons a {
    display: inline-block;
    margin: 0 10px;
    color: #003366;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .FORM .icons a:hover {
    color: #f5f5dc;
  }
  
  #error {
    margin: 10px 0;
    font-size: 14px;
    color: red;
    font-weight: bold;
    text-align: center;
  }
